/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

/* Three state classes: 'initial-mode' (showing quiz and random buttons), 
                        'quiz-mode' (only showing show answer button) and 
                        'evaluation-mode' (showing good and bad answer buttons) */
body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  background-color: #f4f4f4;
  color: #333;

  display: grid;
  grid-template-rows: min-content min-content 1fr;
}

/* Styles for the search section */
#search {
  background-color: #0e6eb8;
  color: white;
  padding: 1rem;
  text-align: center;
  max-width: 100vw;

  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
  align-items: center;
  gap: 0.5rem;
}

#search #title {
  grid-area: intro;
}

#search #input {
  grid-area: input;
}

#search #search-country {
  grid-area: go;
}

#search .separator {
  grid-area: sep;
}

#search #random-country {
  grid-area: random;
}


@media (min-width: 500px) {
  #search {
    padding-left: 5em;
    padding-right: 5em;
  }
}

#quiz {
  background-color: #ababab;
  color: white;
  padding: 1rem;
  text-align: center;
  max-width: 100vw;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}

#feedback {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100vw;
  z-index: 100;

  background-color: #ababab;
  color: white;
  padding: 1rem;
  text-align: center;
  max-width: 100vw;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}

.quiz-mode #feedback,
.evaluation-mode #feedback {
  display: flex;
}

input, button {
  padding: 0.25em;
  font-size: 1.25rem;
  border-radius: 5px;
  border: 1px solid #333;
  outline: none;
}

input[type='text'] {
  background-color: #ccc;
  width: 100%;
  height: 2em;
}

input:focus {
  background-color: #fff;
  border-color: #000;
}

img.language {
  width: 1em;
  height: 1em;
}

button {
  color: #fff;
  background-color: #333;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.25em;
}

button:hover {
  color: #333;
  background-color: #fff;
}

button:active {
  color: #000;
  background-color: #00aeff;
}

/* Button visibility based on mode: */

#quiz-country, 
#quiz-flag,
#quiz-capital, 
#random-country,
#quiz > .separator {
  display: flex;
}

#show-answer, 
#good-answer,
#bad-answer,
#quiz-type {
  display: none;
}

.initial-mode #quiz-country, 
.initial-mode #quiz-flag,
.initial-mode #quiz-capital, 
.initial-mode #random-country,
.initial-mode #quiz > .separator {
  display: flex;
}

.initial-mode #show-answer, 
.initial-mode #good-answer,
.initial-mode #bad-answer,
.initial-mode #quiz-type {
  display: none;
}

.quiz-mode #show-answer,
.quiz-mode #quiz-type {
  display: flex;
}

.quiz-mode #quiz-country, 
.quiz-mode #quiz-flag,
.quiz-mode #quiz-capital, 
.quiz-mode #random-country,
.quiz-mode #good-answer,
.quiz-mode #bad-answer,
.quiz-mode #quiz > .separator {
  display: none;
}

.evaluation-mode #quiz-type,
.evaluation-mode #good-answer,
.evaluation-mode #bad-answer {
  display: flex;
}

.evaluation-mode #show-answer, 
.evaluation-mode #quiz-country, 
.evaluation-mode #quiz-flag,
.evaluation-mode #quiz-capital, 
.evaluation-mode #random-country,
.evaluation-mode #quiz > .separator {
  display: none;
}

/* Styles for the results section */
#results {
  padding: 20px;
  max-width: 100vw;

  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 0.25rem;

  padding-bottom: 5em;
}
 
#results .country-panel {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 0.25rem;              
}

/* Styles for larger screens */
@media (min-width: 600px) {

  #results .country-panel {
    grid-template-areas: 
      "flag english_country_info"
      "flag dutch_country_info"
      "flag italian_country_info";   
    grid-auto-columns: 1fr 2fr;    
    grid-auto-rows: min-content min-content min-content;
    gap: 1rem;              
  }

  #results h1 {
    grid-template-columns: min-content 2fr 2fr;
    column-gap: 0.5rem;
  }
}

#flag {
  grid-area: flag;
  width: 100%;
}

#english_country_info {
  grid-area: english_country_info;
}

#dutch_country_info {
  grid-area: dutch_country_info;
}

#italian_country_info {
  grid-area: italian_country_info;
}

#results .country-info {
  font-size: 80%;
  font-family: 'Roboto Mono', monospace;
  white-space: wrap;
  max-width: 100%;
  overflow: hidden;

  padding: 0.25rem 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
  column-gap: 0.5rem;
}

#results a {
  text-decoration: none;
  white-space: wrap;}

#results a:hover {
  text-decoration: underline;
}

#results #flag {
  visibility: visible;
}

.hide-flag #results #flag {
  visibility: hidden;
}

#results .capital {
  visibility: visible;
  font-size: 80%;
  font-style: italic;
  color: #333;
  text-align: end;
}

.hide-capital-name #results .capital {
  visibility: hidden;
}

#results .country {
  visibility: visible;
}

.hide-country-name #results .country {
  visibility: hidden;
}
