/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

/* Three state classes: 'initial-mode' (showing quiz and random buttons), 
                        'quiz-mode' (only showing show answer button) and 
                        'evaluation-mode' (showing good and bad answer buttons) */
body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  background-color: #f4f4f4;
  color: #333;

  display: grid;
  grid-template-rows: min-content 1fr min-content min-content;
}

/* Styles for the search section */
#search {
  background-color: #0e6eb8;
  color: white;
  padding: 1rem;
  text-align: center;
  max-width: 100vw;

  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
  align-items: center;
  gap: 0.5rem;
}

#search #title {
  grid-area: intro;
}

#search #input {
  grid-area: input;
}

#search #search-country {
  grid-area: go;
}

#search .separator {
  grid-area: sep;
}

#search #random-country {
  grid-area: random;
}


@media (min-width: 500px) {
  #search {
    padding-left: 5em;
    padding-right: 5em;
  }
}

#quiz {
  position: sticky;
  background-color: #ababab;
  color: white;
  padding: 1rem;
  text-align: center;
  max-width: 100vw;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;

  display: none; /* Hidden until it works */
}

#feedback {
  position: sticky;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100vw;
  z-index: 100;

  background-color: #ababab;
  color: white;
  padding: 1rem;
  text-align: center;
  max-width: 100vw;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;

  display: none; /* Hidden until it works */  
}

.quiz-mode #feedback,
.evaluation-mode #feedback {
  display: flex;
}

input, button {
  padding: 0.25em;
  font-size: 1.25rem;
  border-radius: 5px;
  border: 1px solid #333;
  outline: none;
}

input[type='text'] {
  background-color: #ccc;
  width: 100%;
  height: 100%;
}

input:focus {
  background-color: #fff;
  border-color: #000;
}

img.language {
  grid-area: lang;
  width: 1em;
  height: 1em;
}

button {
  color: #fff;
  background-color: #333;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  gap: 0.25em;
}

label {
  white-space: nowrap;
}

button:hover {
  color: #333;
  background-color: #fff;
}

button:active {
  color: #000;
  background-color: #00aeff;
}

button:disabled {
  color: #333;
  background-color: #ccc;
  cursor: not-allowed;
  opacity: 0.6;
}

/* Styles for the results section */
#results {
  padding: 20px;
  max-width: 100vw;

  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 0.25rem;

  padding-bottom: 5em;
  font-size: 1rem;
}
 
#results .country-panel {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 0.25rem;              
}

/* Styles for larger screens */
@media (min-width: 600px) {

  #results .country-panel {
    display: grid;
    grid-template-areas: 
      "english_country_info map"
      "dutch_country_info   map"  
      "italian_country_info map"
      "flag                 map";   
    grid-auto-columns: 1fr 2fr;    
    grid-auto-rows: min-content min-content min-content 1fr;
    gap: 1rem;              
  }

  #results h1 {
    grid-template-columns: min-content 2fr 2fr;
    column-gap: 0.5rem;
  }
}

#flag {
  grid-area: flag;
  width: 100%;
  max-width: 50vmin;
  align-self: start;
}

#map {
  grid-area: map;
  width: 100%;
  max-width: 50vmin;
  justify-self: end;
  align-self: end;
}

#english_country_info {
  grid-area: english_country_info;
}

#dutch_country_info {
  grid-area: dutch_country_info;
}

#italian_country_info {
  grid-area: italian_country_info;
}

#results .country-info {
  font-size: 100%;
  font-family: 'Roboto', sans-serif;
  white-space: wrap;
  width: 100%;
  max-width: 100%;

  padding: 0.25rem 1rem;
  display: grid;
  grid-template-areas: "lang country"
                       "   _ capital";
  grid-template-columns: min-content 1fr;
  grid-template-rows: min-content min-content;

  justify-content: start;
  justify-items: stretch;
  align-content: start;
  align-items: start;

  column-gap: 0.5rem;
}

#results a {
  text-decoration: none;
  white-space: wrap;}

#results a:hover {
  text-decoration: underline;
}

#results #flag {
  visibility: visible;
}

#results #map {
  max-width: 60vmin;
}

.quiz-mode.hide-flag #results #flag {
  visibility: hidden;
}

#results .capital {
  grid-area: capital;
  visibility: visible;
  font-size: 80%;
  font-style: italic;
  color: #333;
}

.quiz-mode.hide-capital-name #results .capital {
  visibility: hidden;
}

#results .country {
  grid-area: country;
  visibility: visible;
}

.quiz-mode.hide-country-name #results .country {
  visibility: hidden;
}

#score {
  display: grid;
  grid-template-areas: "bad sep good"
                       "per per per";
  grid-template-columns: min-content min-content min-content;
  gap: 0;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
}

#score > * {
  font-size: 60%;
  text-align: center;
  color: #333;
}

#score #good-answers {
  padding-right: 0.1em;
}

#score #bad-answers {
  padding-left: 0.1em;
}

#score #score-percentage {
  grid-area: per;
}

.mobile button > label {
  display: none;
}