/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

/* 
   Data attributes:
     mode: 'search-mode', 'quiz-mode' or 'evaluation-mode' 
 */
body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  background-color: #f4f4f4;
  color: #333;

  display: grid;
  grid-template-rows: min-content 1fr min-content min-content;
  justify-content: stretch;
  justify-items: center;
  align-content: start;
}

body > * {
  max-width: 100vw;
  width: 100%;
}

#action-bar {
  background-color: #0e6eb8;
  color: white;
  padding: 1rem;
  text-align: center;
  
  display: grid;
  gap: 0.5rem;
  grid-template-columns: min-content 1fr;
}

/* Styles for the about section */
#about-controls {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  gap: 0.5rem;
}

#about-controls * {
  font-size: 1.5rem;
}

#about {
  padding: 3em;
  font-size: 1rem;
  width: 50em;

  display: flex;
  flex-direction: column;
  justify-content: start;
  justify-items: center;
  align-items: start;
  align-content: center;
  text-align: start;
  gap: 0.5rem;
}

#about ul {
  list-style-position: outside;
  padding-left: 1em;
}

#about p {
  padding-top: 1em;
}

body:not([data-mode="about-mode"]) #about-controls,
body:not([data-mode="about-mode"]) #about {
  display: none;
}

/* Styles for the search section */
#search-controls {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
  align-items: stretch;
  gap: 0.5rem;
}

@media (min-width: 500px) {
  #search-controls {
    padding-left: 5em;
    padding-right: 5em;
  }
}

body:not([data-mode="search-mode"]) #search-controls {
  display: none;
}

/* Styles for the quiz section */
#quiz-controls, #quiz-settings {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
  align-items: stretch;
  gap: 0.5rem;
}

body:not([data-mode="quiz-mode"]) #quiz-controls,
body:not([data-mode="quiz-mode"]) #quiz-settings {
  display: none;
}

#quiz {
  position: sticky;
  background-color: #ababab;
  color: white;
  padding: 1rem;
  text-align: center;
  max-width: 100vw;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;

  display: none; /* Hidden until it works */
}

#feedback {
  position: sticky;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100vw;
  z-index: 100;

  background-color: #ababab;
  color: white;
  padding: 1rem;
  text-align: center;
  max-width: 100vw;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;

  display: none; /* Hidden until it works */  
}

.quiz-mode #feedback,
.evaluation-mode #feedback {
  display: flex;
}

/* Styles for the results section */
#results {
  padding: 20px;
  max-width: 100vw;

  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 0.25rem;

  padding-bottom: 5em;
  font-size: 1rem;
}
 
body[data-mode="about-mode"] #results {
  display: none;
}

#results .country-panel {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 0.25rem;              
}

/* Styles for larger screens */
@media (min-width: 600px) {

  #results .country-panel {
    display: grid;
    grid-template-areas: 
      "english_country_info map"
      "dutch_country_info   map"  
      "italian_country_info map"
      "flag                 map";   
    grid-auto-columns: 1fr 2fr;    
    grid-auto-rows: min-content min-content min-content 1fr;
    gap: 1rem;              
  }

  #results h1 {
    grid-template-columns: min-content 2fr 2fr;
    column-gap: 0.5rem;
  }
}

#flag {
  grid-area: flag;
  width: 100%;
  max-width: 50vmin;
  align-self: start;
}

#map {
  grid-area: map;
  width: 100%;
  max-width: 50vmin;
  justify-self: end;
  align-self: end;
}

#english_country_info {
  grid-area: english_country_info;
}

#dutch_country_info {
  grid-area: dutch_country_info;
}

#italian_country_info {
  grid-area: italian_country_info;
}

#results .country-info {
  font-size: 100%;
  font-family: 'Roboto', sans-serif;
  white-space: wrap;
  width: 100%;
  max-width: 100%;

  padding: 0.25rem 1rem;
  display: grid;
  grid-template-areas: "lang country"
                       "   _ capital";
  grid-template-columns: min-content 1fr;
  grid-template-rows: min-content min-content;

  justify-content: start;
  justify-items: stretch;
  align-content: start;
  align-items: start;

  column-gap: 0.5rem;
}

#results a {
  text-decoration: none;
  white-space: wrap;
}

#results a:hover {
  text-decoration: underline;
}

#results #flag {
  visibility: visible;
}

#results #map {
  max-width: 60vmin;
}

.quiz-mode.hide-flag #results #flag {
  visibility: hidden;
}

#results .capital {
  grid-area: capital;
  visibility: visible;
  font-size: 80%;
  font-style: italic;
  color: #333;
}

.quiz-mode.hide-capital-name #results .capital {
  visibility: hidden;
}

#results .country {
  grid-area: country;
  visibility: visible;
}

.quiz-mode.hide-country-name #results .country {
  visibility: hidden;
}

#score {
  display: grid;
  grid-template-areas: "bad sep good"
                       "per per per";
  grid-template-columns: min-content min-content min-content;
  gap: 0;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
}

#score > * {
  font-size: 60%;
  text-align: center;
  color: #333;
}

#score #good-answers {
  padding-right: 0.1em;
}

#score #bad-answers {
  padding-left: 0.1em;
}

#score #score-percentage {
  grid-area: per;
}

/* Elementary form element styles */

input, button {
  padding: 0. 5em;
  font-size: 1.25rem;
  border-radius: 5px;
  border: 1px solid #333;
  outline: none;
}

input[type='text'] {
  background-color: #ccc;
  width: 100%;
  height: 100%;
}

input:focus {
  background-color: #fff;
  border-color: #000;
}

img.language {
  grid-area: lang;
  width: 1em;
  height: 1em;
}

button {
  color: #fff;
  background-color: #333;
  padding: 0.5em;
  border: 1px solid #333;
  border-radius: 5px;
  font-size: 1.25rem;
  cursor: pointer;  

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  gap: 0.25em;
}

button > i, button > svg {
  width: 1em;
  max-width: 1em;
}

label {
  white-space: nowrap;
  padding-left: 0.25em;
}

.mobile button > label {
  display: none;
}

.mobile button.option-button > label {
  display: initial;
}

@media (hover: hover) { /* Otherwise hover state "sticks" on mobile. */
  button:hover {
    color: #333;
    background-color: #fff;
  }
}

button:active, button:focus, button:focus-within {
  color: #000;
  background-color: #00aeff;
}

button:disabled {
  color: #333;
  background-color: #ccc;
  cursor: not-allowed;
  opacity: 0.6;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown .dropdown-button {
  color: #fff;
  background-color: #333;
  padding: 0.5em;
  border: 1px solid #333;
  border-radius: 5px;
  font-size: 1.25rem;
  cursor: pointer;
}

body[data-mode="search-mode"] .dropdown-button > .about-mode,
body[data-mode="search-mode"] .dropdown-button > .quiz-mode {
  display: none;
}

body[data-mode="quiz-mode"] .dropdown-button > .about-mode,
body[data-mode="quiz-mode"] .dropdown-button > .search-mode {
  display: none;
}

body[data-mode="about-mode"] .dropdown-button > .quiz-mode,
body[data-mode="about-mode"] .dropdown-button > .search-mode {
  display: none;
}

.dropdown .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  z-index: 1;
}

.dropdown.open .dropdown-content {
  display: flex;
  flex-direction: column;
}

.dropdown .dropdown-content button {
  width: 100%;
  text-align: left;
  border-radius: 0;
  cursor: pointer;
}

.dropdown .dropdown-content button:hover {
  background-color: #f1f1f1;
}

.dropdown .dropdown:hover .dropdown-button {
  background-color: #00aeff;
}

.dropdown .dropdown:hover .dropdown-button:active {
  background-color: #00aeff;
}